spring:
  application:
    name: account-service
  datasource:
    url: ${ORACLE_DATASOURCE_URL:jdbc:oracle:thin:@localhost:1521/XEPDB1}
    username: ${ORACLE_DATASOURCE_USERNAME}
    password: ${ORACLE_DATASOURCE_PASSWORD}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
    show-sql: true

server:
  port: 8080
